<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<!--   <xi:include href="master.html" /> -->
  
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" py:if="False"/>
  

  <link rel="stylesheet" type="text/css" media="screen" href="static/css/screen.css" />
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:regular,bold&amp;v1" />
  <link rel="stylesheet" href="static/css/example.css" />
  <link rel="stylesheet" href="static/css/dock.css" />

  <title>Apogee QL</title>
</head>

<body>

	<div class="wrapper">
		<div class="example">

	
			<!-- Begin: CSS Dock Code -->
			<div class="dock">
				<ul>
					<li id="search">
						<a href="/search.html">
							<em><span>Search</span></em>
							<img src="static/images/navMenu/icon_search.png" alt="Search" />
						</a>
					</li>
					<li id="browse">
						<a href="/browse.html">
							<em><span>Browse</span></em>
							<img src="static/images/navMenu/icon_browse.png" alt="Browse" />
						</a>
					</li>
					<li id="targs">
						<a href="/targets.html">
							<em><span>Targets</span></em>
							<img src="static/images/navMenu/icon_target.png" alt="Targets" />
						</a>
					</li>
					<li id="documentation">
						<a href="/documentation.html">
							<em><span>Documentation</span></em>
							<img src="static/images/navMenu/icon_doc.png" alt="Documentation" />
						</a>
					</li>
					
				</ul>
			</div>
			<!-- End: CSS Dock Code -->
		</div>
			

	</div>


</body>
</html>
