/*------------------------------
=BASIC SETUP
--------------------------------*/

/*Makeshift CSS Reset */
{margin: 0; padding: 0;}

/*Tell the browser to render HTML5 elements as blocks */
header, figure, footer, hgroup, menu, section, aside, nav, article {display: block;}
body {margin: 0 auto; padding: 22px 0; width:90%; height:100%; font: 13px/22px Helvetica, Arial, sans-serif; background: #FFFFFF;}
h1 {font-size: 28px; line-height: 44px; padding: 22px 0;}
h2 {font-size: 28px; line-height: 44px; padding: 22px 0;}
h4 {font-size: 18px; line-height: 22px; padding: 11px 0;}
p { padding-bottom: 22px;}

/*--------------------
=MAIN
---------------------*/
/*.tablehead {float:left; width:30%; margin:0 20px 0 0;}
.tablebody {position:absolute; width:3072; height:2048;}*/

.platetable
{
border:1px solid #c3c3c3;
border-collapse:collapse;
cellspacing:"0";
cellpadding="2";
}

.platetable th
{
background-color:#e5eecc;
border:1px solid #c3c3c3;
padding:3px;
}

.platetable td
{
border:1px solid #c3c3c3;
padding:3px;
}